VITE_SUPABASE_URL='sb_publishable_acbF6EkNpK9_DEKUJZOb4w_hAbciaul'
VITE_SUPABASE_ANON_KEY= 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVheXd3cGl1c3F6Znpra2xjbXlnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5ODg3OTUsImV4cCI6MjA5NjU2NDc5NX0.E8ey4LUHRvcUfvCGa_vCY1lRWQFddRodcE94bYj-DQ0'
